.DS_Store
/.obsidian/workspace.json
/obsidian/workspace-mobile.json
/.obsidian/workspace-mobile.json
.obsidian/workspace.json
/.obsidian/plugins/recent-files-obsidian

/.obsidian/appearance.json
.obsidian/plugins/remember-cursor-position/cursor-positions.json
.obsidian/plugins/remember-cursor-position

.trash/
